@charset "utf-8";
/* CSS3 Document */
body, html {
background-color:#e6e6e6;	
}
body, html, p, h1, h2, h3, select, span, a, button {
font-family:"Open Sans";	
}

#afui > #header
{	
height:50px;
}

#afui #header h1 {
margin-top: 7px;
font-size: 16px;
font-weight: normal;
}

#afui #header a {
margin-top: 5px;
font-size: 30px;
}

#afui.android > #header {
background: #56237c!important;
border: none;
border-bottom: 1px solid #56237c;
color: #ffffff!important;
}

div.label {
padding: 3px;
float: left;
/* clear: both; */
margin-bottom: 2%;
margin-top: 2%;
background-color: #fafafa;
text-align: center;
width: 33%;
font-size: 9pt;
font-family: "Open sans";
}
.clear
{
 clear:both; 
}



.nvq {
width: 33%;
padding: 3px;
float: left;
margin-bottom: 2%;
margin-top: 2%;
background-color: #D7D7D7;
text-align: center;
font-size: 9pt;
font-family: "Open sans";
}


#afui.android
{
background-color:#e6e6e6;
color:#2b2b2b;	
}
a:link, a:visited, a:hover, a:active {
color:#2b2b2b;
font-weight:300;
text-decoration:none;
}ol

.cont a {
border-bottom:1px solid black;	
}

.video 
{
	background-color:white;

}

hr {
color:#e6e6e6;
border:1px solid #e6e6e6;	
}
.interact{
 margin-top:10px; 
}

.goback {
font-size:30px;
padding-top:8px;
margin-left:10px;
font-weight:normal;
float:left;
color:#ffffff!important;
}

.afPopup {
background-color:white;	
color:#3b3b3b;
width:95%;
}


.afPopup div ul {
list-style-type:none;	
}

#action, #cancel {
color:#000000;	
}

.afPopup div ul li, .afPopup>FOOTER>A#cancel, .afPopup>FOOTER>A#action, .afPopup div, .afPopup p {
	text-align:center;
	font-size:15pt;
	padding-bottom:10px;
	padding-top:6px;
}


.afPopup div ul li a{
	font-weight:normal;
	
	
	color:#56237c;	
}

.title {
color:#56237c;
}
#cont li {
 height:70px; 
}

.afPopup div ul li hr 
{
border:1px solid #dbdbdb;	
}

#afui h2 {	
font-size:15px;
height:auto;
font-weight:normal;
}

#afui h3 {	
font-size:14px;
padding-top:5px;
font-weight:normal;
}
#videoContainer, #videoinformation
{
	background-color:#e6e6e6;
}
#videoContainer
{
 padding-bottom:10px; 
}

#videoinformation, #relatedvideos, .copy
{
padding-left:10px;
padding-right:10px;
}

#relatedvideos
{
  margin-top:3px;
background-color:#ffffff!important;
width:100%;
}
.afPopup header {
display:none!important;	
}

.openmenu {
font-size:30px;
padding-top:7px;
padding-right:10px;
float:right;
color:#ffffff!important;
}

#cont {
height:100%;
width:100%;	
}

#afui select {
background-color:white;
width:60%!important;
margin-top:10px;
border:1px solid #56237c;
color:#2b2b2b;	

}

.video {

}




.divider {
border-bottom:1px dotted white;
padding-bottom:5px;	
margin-bottom:5px;
}

.count {
color:#999;	
}

#meny {
	display: none;
  font-weight:300;
	top:20px;
  font-size:12pt;
line-height:24pt;
color:#2b2b2b;
background-image:url(back.jpg);
background-position:top center;
background-size:100%;
	background-repeat:no-repeat;
  background-color:#000000;

	padding: 75px 50px 5px 10px;
	overflow: auto;

	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

}

#meny
{
padding-top:70px;
}
@media screen and (max-height: 320px){
#meny
{
padding-top:33px;

}  
}


#meny li {
 margin-left:30px;
 list-style-type:none;
}



#meny li a {
color:#ffffff;	
}

#meny li a span
{
  text-align:right;
  width:10px;
  vertical-align:middle;
  padding-left:5px;
  
  margin-right:15px;
}


i {
color:#3b3b3b;

}

#categories {
width:98%!important;
margin-left:10px!important;
margin-right:10px!important;
margin-bottom:10px;
}

	
	.video img {
		
   vertical-align:middle;
}


.video span, .video i {
		font-size:11pt;
		padding-left:6px;

    vertical-align: middle;
    max-width: 100%;
}

.video span {
 max-width:60%;
 display:inline-block; 
}
.video i {
text-align:right;	
float:right;
margin-top:30px;
padding-right:5px;
}

.removeFromPlaylist {
  font-size:11pt;
		padding-left:6px;

    vertical-align: middle;
    max-width: 100%;
    text-align:right;	
float:right;
margin-top:30px;
padding-right:5px;
}

#null, .afScrollPanel {
padding-bottom:0px!important;	
}

.afScrollPanel {
background-color:white;	
}

.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;
    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
  }
  
  button.interact {
font-size: 15px;
color: #ffffff;
vertical-align: middle;
width: 48.5%;
height: 40px;
padding: 0 20px;
background: -moz-linear-gradient(
 top,
 #56237c 0%,
 #56237c);
background: -webkit-gradient(
 linear, left top, left bottom,
 from(#56237c),
 to(#56237c));
-moz-border-radius: 6px;
-webkit-border-radius: 6px;
border-radius: 6px;
border: 1px solid #ffffff;
}

.interact[rel="#addtoplaylist"]{
  margin-right:3%;
}
.category {
color:#2b2b2b!important;	
margin-top:5px;
background-color: #fafafa;
padding: 3px;
display:inline;
}

#afui .panel h2
{
color:#fff;	
}


h2 {
margin-bottom:10px;
font-size:18px!important;
}
.related {
 padding-left:0px;
 padding-bottom:3px;
 font-size:18px!important; 
}
.currentvideo {
 margin:0px;
 padding:0!important;
 margin-top:5px;
 padding-bottom:5px; 
}
@media screen and (max-width:320px) {
 .video span {
 max-width:50%; 
}   
}

#afui p {
  padding-top:10px;
}

.copy {
 background-color:#ffffff; 
}
.copy img {
  float:left;
  padding-top:10px;
}

.copy a {
 text-decoration:underline;
 color:#56237c; 
}

#selectcat {
 margin-top:15px; 
 margin-left:5px;
 width:30%;
 font-size:12px;
}